<div class="position-relative">
    <h2 class="position-absolute start-50 translate-middle">Caller wants to connect</h2>
    <img src="/assets/graphics/silhouette.png" alt="silohouette" class="postion-absolute start-50 translate-middle">
</div>