<div class="row">
    <div class="col-2">
        <p class="fw-bolder" style="font-size:1.5rem;">
            {{user.fname}}
        </p>
    </div>

    <div class="col auto"></div>

    <div class="col-2">
        <i class="bi bi-three-dots-vertical menu-item text-secondary settings" data-bs-toggle="modal"
            data-bs-target="#enteredroom" style="font-size:1.5rem;font-weight:bolder;"></i>
    </div>
</div>

<div class="row">
    <div id="message-container" class="col-12"></div>

    <div class="col-md-2 mb-sm-4">
        <div id="users-parent" class="online-users"></div>
    </div>

    <div id="messenger-parent" class="col-md-10 mt-sm-4"> </div>
</div>
<input type="hidden" id="rmtid-input" value="{{uid}}">