<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" id="messenger">
    <div class="w3-cell-row">
        <div class="w3-container">
            <h4 id="messenger-header"></h4>
            <div class="w3-row">
                <textarea class="w3-input w3-border w3-round-large" autofocus id="messenger-message" cols="50"
                    rows="5"></textarea>
            </div>

            <div class="w3-row w3-margin-top">
                <button id="messenger-send-button" class="w3-button w3-round-large w3-border w3-border-lightgray">
                    Send
                </button>
            </div>
        </div>

        <div class="w3-cell w3-right w3-margin">
            <button id="messenger-close-button"
                class="w3-bar-item w3-button w3-xlarge w3-round-xxlarge w3-hover-darkgray w3-opacity-min">&times;</button>
        </div>
    </div>
</div>
</div>

<div class="room-content">
    <div class="w3-row w3-margin-top observe">
        <div class="w3-cell w3-left">
            <p class="fw-bolder" style="font-size:1.5rem;">
                {{fname}}
            </p>
        </div>

        <div class="w3-cell w3-right">
            <div class="form-check-inline form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="cloak" checked>
                <label class="form-check-label" for="cloak" id="cloak-label">
                    <strong>
                        <small>
                            Online
                        </small>
                    </strong>
                </label>
            </div>
        </div>
    </div>

    <div class="w3-row w3-margin-top">
        <div class="col-auto">
            <ul id="users-parent" class="w3-ul w3-card w3-hoverable w3-round-large"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="rmtid-input" value="{{uid}}">
<input type="hidden" id="online" value="{{online}}">
{{#if haveAnUnblockedUser}}
<input type="hidden" id="unblockeduser" value="{{theUnblockedUser}}">
{{/if}}