<div class="row">
    <div class="col-2">
        <p class="fw-bolder" style="font-size:1.5rem;">
            {{fname}}
        </p>
    </div>

    <div class="col auto">
        <div class="form-check-inline form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="cloak" checked>
            <label class="form-check-label" for="cloak" id="cloak-label">
                <strong>
                    <small>
                        Online
                    </small>
                </strong>
            </label>
        </div>
    </div>

    <div class="col-2">
        <i class="bi bi-three-dots-vertical menu-item text-secondary settings" data-bs-toggle="modal"
            data-bs-target="#enteredroom" style="font-size:1.5rem;font-weight:bolder;"></i>
    </div>
</div>

<div class="row">
    <div id="message-container" class="col-auto" style="position:relative;"></div>

    <div class="col-auto">
        <div class="container">
            <div id="users-parent" class="row"></div>
        </div>
    </div>

    <div id="messenger-parent" class="col-auto"> </div>
</div>
<input type="hidden" id="rmtid-input" value="{{uid}}">
<input type="hidden" id="online" value="{{online}}">
{{#if unblockeduserid }}
<input type="hidden" id="unblockeduser" value="{{unblockeduserid}}">
{{/if}}