<div class="row">
    <div class="col-sm-auto col-md-2">
        <form method="post" action="/chat/profile/photo">
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-file-image"></i>
                            </span>
                            <input type="file" id="myfile" name="myfile">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-auto col-md-2">
        <div class="col auto"></div>

        <div class="col-2">
            <i class="bi bi-three-dots-vertical menu-item text-secondary settings" data-bs-toggle="modal"
                data-bs-target="#chatprofile" style="font-size:1.5rem;font-weight:bolder;"></i>
        </div>
    </div>
</div>