<!-- Modal -->
<div class="modal fade" id="mainmenu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="mainmenuLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="mainmenuLabel">Home</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#" class="nav-link">RMediaTech &COPY;</a>
            </div>
        </div>
    </div>
</div>