<a class="w3-bar-item w3-button w3-mobile" href="/chat/room/enter">Chat</a>
<a class="w3-bar-item w3-button w3-mobile" href="/user">Dashboard</a>
<a class="w3-bar-item w3-button w3-mobile" href="/auth/signout">Sign Out</a>