<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/graphics/icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="my-body">
    {{>menu}}
    {{>messages}}
    <div class="w3-container">
        <div class="w3-cell-row root">
            {{{body}}}
        </div>
    </div>
</body>
<script type="javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

<script type="javascript" src="/assets/js/w3.js"></script>
<script type="javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/utils.js" type="module"></script>
<script src="/assets/js/computils.js" type="module"></script>
<script src="/assets/js/clientutils.js" type="module">
</script>
<script src="/assets/js/menueffects.js" type="module"></script>
{{#if signedin}}

{{else}} {{!-- end if signedin --}}

{{/if}} {{!-- end if --}}
{{#if enteredroom}}
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/ui.js" type="module"></script>
<script src="/assets/js/wss.js" type="module"></script>
<script src="/assets/js/room.js" type="module"></script>

{{/if}} {{!-- end enteredroom --}}

{{#if peers}}
<script src="/twilio-video.js"></script>
<script src="/assets/js/peers.js" type="module"></script>
{{/if}} {{!-- end peers --}}

{{#if chatprofile}}
<script src="/assets/js/chatprofile.js" type="module"></script>
{{/if}} {{!-- end chatprofile --}}

{{#if userprofile}}
<script src="/assets/js/userprofile.js" type="module"></script>
{{/if}} {{!-- end userprofile --}}


{{#if landing}}
<script src="/assets/js/main.js" type="module"></script>
{{/if}} {{!-- end landing --}}

{{#if forgotpassword}}
<script src="/assets/js/validateemail.js" type="module"></script>
{{/if}} {{!-- end forgotpassword --}}

{{#if resetpassword}}
<script src="/assets/js/resetpassword.js" type="module"></script>
{{/if}} {{!-- end resetpassword --}}

</html>