<div class="row">
    <form action="/user/profile/create" method="post" style="margin:1rem 0 5rem 0;">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-4">
                    <strong>Street Address</strong>

                    <div class="input-group mb-3">
                        <input type="text" name="street" class="form-control" placeholder="Street address" />
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" name="city" class="form-control" placeholder="City" />
                    </div>

                    <div class="input-group">
                        <input type="text" name="zipcode" class="form-control" placeholder="Zipcode" />
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <strong>Save Password</strong>
                    <div class="input-group">
                        <input class="form-check-input" type="checkbox" name="savepwd" />
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <strong>Gender</strong>
                    <div class="input-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="male">&nbsp;
                            <label class="form-check-label" for="flexCheckDefault">
                                Male
                            </label>
                        </div>&nbsp;&nbsp;&nbsp;

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="female">&nbsp;
                            <label class="form-check-label" for="flexCheckChecked">
                                Female
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-4">
                    <strong>Birthday</strong>
                    <div class="input-group">
                        <input type="date" name="dob" class="form-control" />
                    </div>
                </div>
            </div>


            <input id="reg-submit-button" type="submit" class="btn btn-primary" value="Create" type="button"
                style="border-radius: 15px;">
        </div>
    </form>
</div>