<div class="row">
    <div class="col-2">
        <p class="fw-bolder" style="font-size:1.5rem;">
            {{user.fname}}
        </p>
    </div>

    <div class="col auto"></div>

    <div class="col-2">
        <i class="bi bi-three-dots-vertical menu-item text-secondary settings" data-bs-toggle="modal"
            data-bs-target="#signedIn" style="font-size:1.5rem;font-weight:bolder;"></i>
    </div>
</div>

<div class="row p-3" style="margin:2rem 0;">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aliquam quo libero, atque doloribus quae et cumque
        ipsam necessitatibus incidunt dolorem, reprehenderit velit odit quisquam veritatis veniam corrupti at quia!
    </p>
    <div class="col-auto">
        <div class="row">
            <div class="col-2">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quidem dolores nemo ratione nobis
                    facilis officia a sit delectus quibusdam neque cum ullam deleniti aliquid, ex nesciunt ab, voluptas
                    laboriosam.
                </p>
            </div>

            <div class="col-2"></div>

            <div class="col-7">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam beatae necessitatibus exercitationem
                    perferendis soluta tempora, voluptatem numquam quas nesciunt vero consequatur tempore iure maxime ab
                    minus, vel recusandae optio veritatis.
                </p>

                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus officiis distinctio, ullam
                    laudantium doloremque libero cupiditate nemo, debitis animi molestias voluptatibus modi, minus
                    velit? Placeat sit eius aperiam cum repellendus.
                </p>
            </div>
        </div>
    </div>

</div>
<input type="hidden" id="rmtid-input" value="{{user._id}}">